.knight{
    position: relative;
    background-image: url("../images/castleknight.png");
    background-size: cover;
    height: 70vh;
    width: 99%;
}

@media (min-width: 1200px) {
    p {font-size:1.5rem;}
    h2 {font-size:3rem;}
}

