.knight{
    position: relative;
    background-image: url("../images/castleknight.png");
    background-size: cover;
    height: 70vh;
    width: 99%;
    color:whitesmoke;
}

@media (min-width: 1200px) {

}

